<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style/base.css") }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id="container">
    
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{{ url_for('index') }}">Ricorda</a></h1> 
            </div>
            <div id="user-tools">
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                    |
                    <a href="{{ url_for('show_signup_form') }}">Registrarse</a>
                {% else %}
                    {% if current_user.type == 'paciente' %}
                        {{ current_user.name }} |
                        <a href="{{ url_for('patient_info', user_id=current_user.id) }}">Mis recuerdos</a> |
                        <a href="{{ url_for('chat') }}">Conversar</a> |
                    {% else %}
                        {{ current_user.name }} |
                        <a href="{{ url_for('patients') }}">Pacientes</a> |
                        <a href="{{ url_for('chat') }}">Conversar</a> |
                    {% endif %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
        
        {% block content %}{% endblock %}

    </div>

</body>
</html>

