{% extends "base_template.html" %}
{% block title %}Pacientes Ricorda{% endblock %}
{% block content %}

<div class="otroscodigos">
{% if p %}  
    {% if infancia %}  
    <h1> INFANCIA </h1>
    <ul>
        {% for patient in infancia %}
        
            <li>{{ patient['pregunta'] }}
                <p>{{ patient['respuesta'] }}</p>
            </li>
        

        {% endfor %}
    </ul>
    {% endif %}

    <!--{% if adolescencia %} 
    <h1> ADOLESCENCIA </h1>
    <ul>
        {% for patient in adolescencia %}
            
            <li>{{ patient['pregunta'] }}
                <p>{{ patient['respuesta'] }}</p>
            </li>
            
    
        {% endfor %}
    </ul>
    {% endif %} -->

    {% if juventud %} 
    <h1> JUVENTUD </h1>
    <ul>
        {% for patient in juventud %}
            
            <li>{{ patient['pregunta'] }}
                <p>{{ patient['respuesta'] }}</p>
            </li>
            
    
        {% endfor %}
    </ul>
    {% endif %} 

    {% if etapAdulta %} 
    <h1> ETAPA ADULTA </h1>
    <ul>
        {% for patient in etapAdulta %}
            
            <li>{{ patient['pregunta'] }}
                <p>{{ patient['respuesta'] }}</p>
            </li>
            
    
        {% endfor %}
    </ul>
    {% endif %} 

    {% if vejez %} 
    <h1> VEJEZ </h1>
    <ul>
        {% for patient in vejez %}
            
            <li>{{ patient['pregunta'] }}
                <p>{{ patient['respuesta'] }}</p>
            </li>
            
    
        {% endfor %}
    </ul>
    {% endif %} 

    <!--{% if otros %} 
    <h1> SIN CLASIFICAR </h1>
    <ul>
        {% for patient in otros %}
            
            <li>{{ patient['pregunta'] }}
                <p>{{ patient['respuesta'] }}</p>
            </li>
            
    
        {% endfor %}
    </ul>
    {% endif %} -->

{% else %}
    <h1>No hay información disponible</h1>
{% endif %}
</div>

{% endblock %}